/* Para que #root y body ocupen toda la altura */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Contenedor principal en columna flex */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* toda la ventana */
}

/* Zona de contenido que se expande */
.content {
  flex: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
